/* Overall container and alignment */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Make it take the full viewport height */
    background-color: #f4f7f6; /* A soft background color */
  }
  
  /* The box containing the form and options */
  .auth-container-box {
    width: 400px; /* Adjusted width for a more standard form size */
    height: 350px;
    padding: 2rem;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the text elements */
    transform: translate(0%,-25%);
  }
  /* Style for the form elements inside the .auth-container-box */
  .auth-container-box form {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Add space between form elements */
  }
  
  /* Input styles */
  input[type="email"],
  input[type="password"] {
    padding: 0.5rem;
    border: 1px solid #d3dce6;
    border-radius: 4px;
    font-size: 1rem;
  }
  .authOptions{
    margin-top: 1rem; /* Space from the form to the buttons */
    flex-grow: 1; /* Allow the container to grow to push buttons down */
    display: flex;
    justify-content: center; /* Center buttons horizontally */
  }
  /* Button styles */
  button {
    margin-top: auto;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s; /* Smooth transition for button background color */
  }
  
  /* Hover effect for buttons */
  button:hover {
    background-color: #e2e6ea;
  }